body {
  width: 100%;
  margin: 0;
  font-family: 'Martel', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #272727;
  text-align: center;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 0;
}

h3 {
  color: #272727;
  font-weight: 600;
}

hr {
  border: 3px solid #007acd;
  width: 5em;
  border-radius: 3em;
  margin-bottom: 20px;
}

button a {
  padding: 6px;
}

button {
  box-shadow: 0 3px 8px -3px #000000;
}

/** Nav styles **/
nav {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: #272727;
  padding: 10px 0 10px 0;
  border-bottom-style: solid;
  border-bottom-color: #007acd;
  border-bottom-width: thin;
}

.nav_buttons {
  width: 50%;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 0px;
  padding: 0px 30px 0px;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #effffb;
  opacity: 1;
}

nav a:hover {
  color: #50d890;
}

#menu_icon {
  top: 0;
  position: absolute;
  font-size: 2em;
  display: none;
  color: white;
}

#menu_icon p {
  margin: 0;
}

.nav_drawer {
  display: none;
}

/** Intro styles **/
.intro {
  height: 99vh;
  background-image: url("Images/intro_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.intro_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  color: #effffb;
}

.intro p {
  color: #effffb;
}

.intro_phrase {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.intro svg {
  padding-top: 100px;
  position: absolute;
  bottom: 0;
}

.intro p {
  margin: 0;
}

/** About me styles **/
.me {
  padding-top: 25px;
  text-align: center;
}

.me img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #63707e;
}

.me p {
  padding: 30px 35% 20px 35%;
}

.two_pillars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 25% 50px 25%;
}

.two_pillars svg {
  font-size: 75px;
  text-align: center;
  width: 100%;
  color: #007acd;
}

.pillars h3 {
  text-align: center;
  color: #007acd;
  margin: 20px 0 20px 0;
  font-size: 1.25em;
}

.pillars {
  padding: 10px 20px 0 20px;
  margin: 0 20px 0 20px;
  text-align: center;
  width: 50%;
}

.svg_wrapper {
  background-color: #f2f6f5;
  border-radius: 200px;
  width: 8em;
  padding: 25px 0 25px 0;
  margin: auto;
}

.pillars p {
  color: #272727;
  font-size: 14px;
  margin: 0;
  padding: 0 25px 25px 25px;
}

/** Skills section **/
.skills_wrapper {
  background-color: #f2f6f5;
}

.skills_wrapper h2 {
  padding-top: 80px;
}

.skills_wrapper h3 {
  color: #007acd;
  font-size: 1.5em;
  padding: 20px 0 20px 0;
}

.skills {
  width: 100%;
  padding: 30px 25% 100px 25%;
  margin: 0;
}

.skills svg {
  font-size: 4em;
  color: #007acd;
}

.skills_svgbox {
  margin: auto;
  width: 6em;
  padding: 10px;

}

.skill_list {
  text-align: center;
  background-color: #ffffff;
  padding: 25px;
  width: 150px;
  border-style: solid;
  border-width: thin;
  border-color: #dedede;
  box-shadow: 0 6px 5px -4px #c8c8c8

}

#skill1 {
  border-top-left-radius: 20px;
  border-right-style: none;
}

#skill3 {
  border-top-right-radius: 20px;
  border-left-style: none;
}

h3 {
  text-transform: uppercase;
}

.skill_list ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.skill_list li {
  padding: 5px 0 5px 0;
  color:#272727;
}

/** Recent projects **/
.project_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 40px 0 50px 0;
}

.recent_work h2 {
  margin: 0 40% 0 40%;
}

.project_list {
  padding: 0 25px 0 25px;
}

.project_list img {
  margin: 0 20px 0 20px;
  border-radius: 25px;
  box-shadow: 0 3px 8px -3px #000000
}

.img_wrapper {
  position: relative;
}

.img_wrapper:hover img {
  opacity: .10;
  transition: .5s ease;
}

.img_wrapper button {
  background-color: #007acd;
  border-radius: 3px;
  border-style: none;
  margin-top: 20px;
}

.img_wrapper button:hover {
  background-color: #50d890;
}

.img_wrapper a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.img_wrapper h3 {
  color: #272727;
  font-weight: 700;
}

.img_button1 {
  position: absolute;
  top: 15%;
  left: 16%;
  text-align: center;
  display: none;
  padding: 20px;
}

.img_button2 {
  position: absolute;
  top: 15%;
  left: 8%;
  text-align: center;
  display: none;
  padding: 20px;
}

.img_button2 h3 {
  font-size: 1.5em;
}

.img_wrapper:hover .img_button1 {
  display: block;
}

.img_wrapper:hover .img_button2 {
  display: block;
}

.button_wrapper {
  text-align: center;
  padding: 5px 0 35px 0;
}

.project_button {
  background-color: #007acd;
  border-radius: 3px;
  border-style: none;
}

.project_button:hover {
  background-color: #50d890;
}

.project_button a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  border-style: none;
}

.project_wrapper h3 {
  border-bottom: 2px solid #007acd;
}

/** Contact styles **/
.contact_link {
  text-align: center;
  padding: 0 5% 5% 5%;
  background-color: #f2f6f5;
}

.contact_link h3 {
  color: #007acd;
  margin: 35px 0 10px 0;
}

.contact_button {
  font-size: 22px;
  background-color: #007acd;
  border-style: none;
  border-radius: 3px;
}

.contact_link p {
  margin: 10px;
}

.contact_button a {
  color: white;
  text-decoration: none;
}

.contact_button:hover {
  background-color: #50d890;
}

/** Footer styles **/
footer {
  text-align: center;
  background-color: #272727;
  margin: 0;
  padding: 20px 0 20px 0;
}

footer a {
  padding: 15px;
  font-size: 2em;
}

footer a svg:hover {
  color: #007acd;
}

footer a svg {
  color: #50d890;
}

footer p {
  font-size: .7em;
  padding: 5px;
  margin: 0;
  color: #50d890;
}

/** Project page Section **/
.work_section {
  padding-top: 5em;
}

.work_wrapper {
  margin: 50px 10% 150px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work_wrapper h3 {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #007acd;
}
.work_list {
  position: relative;
}

.work_list:hover img {
  opacity: .10;
  transition: .5s ease;
}

.work_info1 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -132px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info2 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info3 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -182px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info4 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info5 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info6 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info7 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -195px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_info8 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -75px;
  text-align: center;
  display: none;
  padding: 7px;
}

.work_list:hover .work_info1 {
  display: block;
}

.work_list:hover .work_info2 {
  display: block;
}

.work_list:hover .work_info3 {
  display: block;
}

.work_list:hover .work_info4 {
  display: block;
}

.work_list:hover .work_info5 {
  display: block;
}

.work_list:hover .work_info6 {
  display: block;
}

.work_list:hover .work_info7 {
  display: block;
}

.work_list:hover .work_info8 {
  display: block;
}

.work_list button {
  background-color: #007acd;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 8px;
}

.work_list button:hover {
  background-color: #50d890;
}

.work_list a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

/** Contact page styles **/
.contact {
  background-color: #f2f6f5;
}

.info {
  padding: 2em 0 10em 0;
}

.contact h2 {
  margin: 0;
  padding-top: 3em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px 50px 50px 50px;
  align-items: center;
}

label {
  padding: 20px 0 0 0;
  color: #007acd;
  font-weight: 600;
  font-size: 18px;
}

input[type=submit] {
  margin-top: 1em;
  width: 100px;
  background-color: #007acd;
  border-radius: 3px;
  border-style: none;
  font-size: 22px;
  color: white;
  box-shadow: 0 3px 5px;
}

input[type=submit]:hover {
  background-color: #50d890;
}

textarea {
  resize: both;
}

/* Responsiveness */
@media screen and (max-width: 1500px) {

  .three_pillars {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15% 50px 15%;
  }

  .pillars {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1405px) {

  .two_pillars {
    padding: 20px 25% 50px 25%;
  }

  .img_wrapper button {
    margin-top: 0;
  }

  .img_button1 {
    top: 10%;
  }

  .img_button2 {
    top: 10%;
  }

  .button_wrapper {
    padding: 35px 0 35px 0;
  }

  .project_wrapper h3 {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 1100px) {

  .two_pillars {
    padding: 20px 15% 50px 15%;
  }

  .me p {
    padding: 30px 30% 20px 30%;
  }

  .skills_wrapper h3 {
    font-size: 1.25em;
  }

  .skills {
    padding: 30px 18% 100px 18%;
  }

  .skill_list li {
    font-size: .85em;
  }
}

@media screen and (max-width: 900px) {

  .two_pillars {
    padding: 50px 5% 50px 5%;
    align-items: center;
  }

  .project_wrapper {
    flex-wrap: wrap;
  }

  .skills_wrapper h3 {
    font-size: 1.1em;
  }

  .skill_list li {
    font-size: .75em;
  }

  .me p {
    padding: 35px 20% 0 20%;
  }

  .project_wrapper {
    padding: 0 10% 50px 10%;
  }

  .project_list {
    padding: 7% 25px 0 25px;
  }

  .button_wrapper {
    padding: 0 0 50px 0;
  }
}

@media screen and (max-width: 770px) {

  nav {
    padding: 25px 0 25px 0;
  }

  .nav_buttons {
    display: none;
  }

  .nav_drawer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    position: absolute;
    transform: translate(0, -500px);
    transition: transform .2s ease;
  }

  .nav_drawer.open {
    transform: translate(0, 51px);
  }

  .nav_drawer a {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    background-color: #272727;
    color: #effffb;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #007acd;
    border-bottom-width: thin;
  }

  .nav_drawer a:hover {
    color: #50d890;
  }

  #menu_icon {
    display: inline-block;
  }

  #menu_icon:hover {
    color: #50d890;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {

  .skills {
    padding: 25px 10% 100px 10%
  }

  .pillars {
    width: 75%;
  }

  .me p {
    padding: 40px 20% 0 20%;
  }

  .recent_work h2 {
    margin: 0;
  }

  .work_list img {
    width: 100%;
    padding: 0 5% 0 5%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  .intro_phrase p {
    font-size: .7em;
  }
}

@media screen and (max-width: 550px) {

  .two_pillars {
    flex-direction: column;
  }

  .skills_wrapper h3 {
    padding: 10px 0 10px 0;
  }

  .skills {
    flex-direction: column;
  }

  #skill1 {
    border-top-left-radius: 0;
    border-right-style: solid;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  #skill3 {
    border-top-right-radius: 0;
    border-left-style: solid;
  }

  .skill_list {
    max-width: 60%;
    width: 100%;
  }

  .contact_link {
    padding-bottom: 10%;
  }

  .work_list h3 {
    font-size: .9em
  }

  .work_list p {
    font-size: .85em
  }

  .work_info1 {
    margin-left: -112px;
    margin-top: -60px;
  }

  .work_info2 {
    margin-left: -178px;
    margin-top: -60px;
  }

  .work_info3 {
    margin-left: -160px;
    margin-top: -60px;
  }

  .work_info4 {
    margin-left: -152px;
    margin-top: -60px;
  }

  .work_info5 {
    margin-left: -60px;
    margin-top: -60px;
  }

  .work_info6 {
    margin-left: -140px;
    margin-top: -60px;
  }

  .work_info7 {
    margin-left: -170px;
    margin-top: -60px;
  }

  .work_info8 {
    margin-left: -215px;
    margin-top: -75px;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {

  .pillars {
    margin-bottom: 25px;
  }

  .skills_wrapper h3 {
    padding: 10px 0 10px 0;
  }

  .skills {
    flex-direction: column;
    padding: 25px 10% 100px 10%;
    align-items: center;
  }

  .project_wrapper h3 {
    font-size: 1.1em;
  }

  .img_wrapper a {
    font-size: 1em;
  }

  .img_button1 {
    top: 35%;
    left: 55%;
    margin-left: -106px;
    margin-top: -50px;
  }

  .img_button2 {
    top: 35%;
    left: 44%;
    margin-left: -106px;
    margin-top: -50px;
  }

  .project_list img {
    width: 250px;
  }

  .project_list {
    padding: 10% 25px 0 25px;
  }

  .contact_link h3 {
    margin-top: 25px;
    font-size: 1.3em;
  }

  .contact_link p {
    font-size: .85em;
  }

  .work_list p {
    display: none;
  }

  .work_info1 {
    margin-left: -57px;
    margin-top: -50px;
  }

  .work_info2 {
    margin-left: -110px;
    margin-top: -50px;
  }

  .work_info3 {
    margin-left: -65px;
    margin-top: -50px;
  }

  .work_info4 {
    margin-left: -65px;
    margin-top: -50px;
  }

  .work_info5 {
    margin-left: -57px;
    margin-top: -50px;
  }

  .work_info6 {
    margin-left: -60px;
    margin-top: -50px;
  }

  .work_info7 {
    margin-left: -66px;
    margin-top: -50px;
  }

  .work_info8 {
    margin-left: -90px;
    margin-top: -50px;
    padding: 7px;
  }
}

@media screen and (max-width: 450px) {

  .me img {
    width: 75%;
  }
}
