body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  color: #272727;
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #272727;
}

hr {
  border: 3px solid #93b5b3;
  width: 5em;
  border-radius: 3em;
  margin-bottom: 40px;
}


/** nav styles **/

nav {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 25px;
}

.nav_buttons {
  width: 50%;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 0px;
  padding: 0px 30px 0px;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #272727;
}

nav a:hover {
  color: #4f98ca;
}

/** intro styles **/

.intro {
  height:99vh;
  background-image: url("Images/intro_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

h1 {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  color: #272727;
}

.intro p {
  color: #272727;
}

.intro_phrase {
  position: absolute;
  top: 400px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.intro svg {
  padding-top: 100px;
  position: absolute;
  bottom: 0;
}

.intro p {
  margin: 20px 0 20px 0;
}

/** about me styles **/

.about h2 {

}

.me {
  text-align: center;
}

.me img {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #63707e;
}

.me p {
  padding-left: 35%;
  padding-right: 35%;
}

.three_pillars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 23% 50px 23%;
}

.three_pillars svg {
  font-size: 75px;
  text-align: center;
  width: 100%;
  color: #2c92d7;
}

.pillars h3 {
  text-align: center;
  color: white;
  margin: 5px 0 5px 0;
}

.pillars {
  padding: 10px 20px 0 20px;
  margin: 0 20px 0 20px;
  border-radius: 200px;
  background-color: #93b5b3;
  text-align: center;
  border-top-style: solid;
  border-top-color: #4f98ca;
  border-top-width: 7px;
  box-shadow: 0px 3px 5px #63707e;
  width: 33%;
}

.svg_wrapper {
  background-color: white;
  border-radius: 200px;
  width: 8em;
  padding: 25px 0 25px 0;
  margin: auto;
  border-style: solid;
  border-width: thin;
  border-color: #50d890;
}

.pillars p {
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0 25px 25px 25px;
}

/** skills section **/

.skills_wrapper {
  background-color: #effffb;
  height: 70vh;
}

.skills_wrapper h2 {
  padding-top: 80px;
}

.skills_wrapper h3 {
  color: white;
}
.skills {
  display: flex;
  justify-content: space-around;
  padding: 10px 35% 50px 35%;
}

.skills svg {
  font-size: 40px;
  color: #2c92d7;
}

.skills_svgbox {
  background-color: white;
  margin: auto;
  width: 4em;
  padding: 10px;
  border-radius: .5em;
  border-style: solid;
  border-width: thin;
  border-color: #50d890;
}

.skill_list {
  text-align: center;
  background-color: #93b5b3;
  padding: 25px;
  width: 150px;
  border-top-style: solid;
  border-top-color: #2c92d7;
  border-top-width: 5px;
  box-shadow: 0 3px 4px #63707e;

}

#skill1 {
  border-top-left-radius: 8px;
}

#skill3 {
  border-top-right-radius: 8px;
}


h3 {
  text-transform: uppercase;
}

.skill_list ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.skill_list li {
  padding: 5px 0 5px 0;
  color: white;
}

/** recent projects **/

.project_list {
  display: flex;
  padding: 30px 25% 30px 25%;
}

.recent_work h2 {
  margin: 0 40% 0 40%;

}

.project_list img {
  padding: 0 20px 0 20px;
}

.project_list p {
  padding: 0 20px 0 20px;
  text-align: left;
  margin: auto;
}

.img_wrapper {
  position: relative;
}

.img_wrapper:hover img {
  opacity: .10;
  transition: .5s ease;
}

.img_wrapper button {
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
}

.img_wrapper button:hover {
  background-color: #50d890;
}

.img_wrapper a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.img_wrapper h3 {
  color: #272727;
}

.img_info1 {
  position: absolute;
  top: 25%;
  left: 13%;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.img_info2 {
  position: absolute;
  top: 25%;
  left: 27%;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.img_wrapper:hover .img_info1 {
  display: block;
}

.img_wrapper:hover .img_info2 {
  display: block;
}

.button_wrapper {
  text-align: center;
  padding: 5px 0 35px 0;
}

.project_button {
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
  box-shadow: 0px 3px 5px #93b5b3;
}

.project_button:hover {
  background-color: #50d890;
}

.project_button a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  border-style: none;
}

/** contact styles **/

.contact_link {
  text-align: center;
}

.contact_link h2 {

}

.contact_link h3 {
  color: #2c92d7;;
  margin: 10px 0 10px 0;
}

.contact_button {
  font-size: 22px;
  background-color: #4f98ca;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 3px 5px #93b5b3;
}

.contact_link p {
  margin: 10px;
}

.contact_button a {
  color: white;
  text-decoration: none;
}

.contact_button:hover {
  background-color: #50d890;
}

/** footer styles **/

footer {
  text-align: center;
  background-color: #272727;
  margin: 50px 0 0 0;
  padding: 20px 0 20px 0;
}

footer a {
  padding: 15px;
  font-size: 2em;
}

footer a svg:hover {
  color: #4f98ca;
}
footer a svg {
  color: #50d890;
}



footer p {
  font-size: .9em;
  padding: 5px;
  margin: 0;
  color: #50d890;
}
