body {
  width: 100%;
  margin: 0;
  font-family: 'Martel', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #272727;
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 0;
}

h3 {
  color: #272727;
}

hr {
  border: 3px solid #93b5b3;
  width: 5em;
  border-radius: 3em;
  margin-bottom: 20px;
}

button a {
  padding: 6px;
}

button {
  box-shadow: 0 3px 5px;
}

/** Nav styles **/
nav {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: #272727;
  padding: 10px 0 10px 0;
  border-bottom-style: solid;
  border-bottom-color: #4f98ca;
  border-bottom-width: thin;
}

.nav_buttons {
  width: 50%;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 0px;
  padding: 0px 30px 0px;
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  color: #effffb;
  opacity: 1;
}

nav a:hover {
  color: #50d890;
}

#menu_icon {
  top: 0;
  position: absolute;
  font-size: 2em;
  display: none;
  color: white;
}

#menu_icon p {
  margin: 0;
}

.nav_drawer {
  display: none;
}

/** Intro styles **/
.intro {
  height: 99vh;
  background-image: url("Images/intro_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.intro_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  color: #effffb;
}

.intro p {
  color: #effffb;
}

.intro_phrase {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

.intro svg {
  padding-top: 100px;
  position: absolute;
  bottom: 0;
}

.intro p {
  margin: 0;
}

/** About me styles **/
.me {
  padding-top: 25px;
  text-align: center;
}

.me img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #63707e;
}

.me p {
  padding-left: 35%;
  padding-right: 35%;
}

.three_pillars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 23% 50px 23%;
}

.three_pillars svg {
  font-size: 75px;
  text-align: center;
  width: 100%;
  color: #2c92d7;
}

.pillars h3 {
  text-align: center;
  color: white;
  margin: 5px 0 5px 0;
}

.pillars {
  padding: 10px 20px 0 20px;
  margin: 0 20px 0 20px;
  border-radius: 200px;
  background-color: #93b5b3;
  text-align: center;
  border-top-style: solid;
  border-top-color: #4f98ca;
  border-top-width: 7px;
  box-shadow: 0px 3px 5px #63707e;
  width: 33%;
}

.svg_wrapper {
  background-color: white;
  border-radius: 200px;
  width: 8em;
  padding: 25px 0 25px 0;
  margin: auto;
  border-style: solid;
  border-width: thin;
  border-color: #50d890;
}

.pillars p {
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0 25px 25px 25px;
}

/** Skills section **/
.skills_wrapper {
  background-color: #effffb;
}

.skills_wrapper h2 {
  padding-top: 80px;
}

.skills_wrapper h3 {
  color: white;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding: 10px 35% 100px 35%;
}

.skills svg {
  font-size: 40px;
  color: #2c92d7;
}

.skills_svgbox {
  background-color: white;
  margin: auto;
  width: 4em;
  padding: 10px;
  border-radius: .5em;
  border-style: solid;
  border-width: thin;
  border-color: #50d890;
}

.skill_list {
  text-align: center;
  background-color: #93b5b3;
  padding: 25px;
  width: 150px;
  border-top-style: solid;
  border-top-color: #2c92d7;
  border-top-width: 5px;
  box-shadow: 0 3px 4px #63707e;
}

#skill1 {
  border-top-left-radius: 8px;
}

#skill3 {
  border-top-right-radius: 8px;
}

h3 {
  text-transform: uppercase;
}

.skill_list ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.skill_list li {
  padding: 5px 0 5px 0;
  color: white;
}

/** Recent projects **/
.project_list {
  display: flex;
  padding: 30px 25% 30px 25%;
}

.recent_work h2 {
  margin: 0 40% 0 40%;
}

.project_list img {
  padding: 0 20px 0 20px;
}

.img_wrapper {
  position: relative;
}

.img_wrapper:hover img {
  opacity: .10;
  transition: .5s ease;
}

.img_wrapper button {
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
}

.img_wrapper button:hover {
  background-color: #50d890;
}

.img_wrapper a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.img_wrapper h3 {
  color: #272727;
}

.img_button1 {
  position: absolute;
  top: 30%;
  left: 23%;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 20px;
}

.img_button2 {
  position: absolute;
  top: 30%;
  left: 23%;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 20px;
}

.recent_info1 {
  padding: 0 20px 0 20px;
  text-align: left;
  margin: auto;
}

.recent_info2 {
  padding: 0 20px 0 20px;
  text-align: left;
  margin: auto;
}

.recent_info h3 {
  margin-top: 0;
}

.img_wrapper:hover .img_button1 {
  display: block;
}

.img_wrapper:hover .img_button2 {
  display: block;
}

.button_wrapper {
  text-align: center;
  padding: 5px 0 35px 0;
}

.project_button {
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
}

.project_button:hover {
  background-color: #50d890;
}

.project_button a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  border-style: none;
}

.project_wrapper h3 {
  border-bottom: 2px solid #c8dad3;
  margin: 0 0 30px 0;
}

/** Contact styles **/
.contact_link {
  text-align: center;
  padding: 0 5% 5% 5%;
  background-color: #effffb;
}

.contact_link h3 {
  color: #2c92d7;
  margin: 10px 0 10px 0;
}

.contact_button {
  font-size: 22px;
  background-color: #4f98ca;
  border-style: none;
  border-radius: 3px;
}

.contact_link p {
  margin: 10px;
}

.contact_button a {
  color: white;
  text-decoration: none;
}

.contact_button:hover {
  background-color: #50d890;
}

/** Footer styles **/
footer {
  text-align: center;
  background-color: #272727;
  margin: 0;
  padding: 20px 0 20px 0;
}

footer a {
  padding: 15px;
  font-size: 2em;
}

footer a svg:hover {
  color: #4f98ca;
}

footer a svg {
  color: #50d890;
}

footer p {
  font-size: .7em;
  padding: 5px;
  margin: 0;
  color: #50d890;
}

/** Project page Section **/
.work_section {
  padding-top: 5em;
}

.work_wrapper {
  margin: 0 10% 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

.work_list {
  position: relative;
}

.work_list:hover img {
  opacity: .10;
  transition: .5s ease;
}

.work_info1 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -75px;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.work_info2 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -75px;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.work_info3 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -165px;
  margin-top: -75px;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.work_info4 {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -75px;
  text-align: center;
  display: none;
  border-style: solid;
  border-color: #50d890;
  padding: 7px;
}

.work_list:hover .work_info1 {
  display: block;
}

.work_list:hover .work_info2 {
  display: block;
}

.work_list:hover .work_info3 {
  display: block;
}

.work_list:hover .work_info4 {
  display: block;
}

.work_list button {
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 8px;
}

.work_list button:hover {
  background-color: #50d890;
}

.work_list a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

/** Contact page styles **/
.info {
  padding: 2em 0 5em 0;
  background-color: #effffb;
}

.contact h2 {
  margin: 0;
  padding-top: 3em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 50px;
  align-items: center;
}

label {
  padding: 20px 0 0 0;
  color: #4f98ca;
  font-weight: 600;
  font-size: 18px;
}

input[type=submit] {
  margin-top: 1em;
  width: 100px;
  background-color: #4f98ca;
  border-radius: 3px;
  border-style: none;
  font-size: 22px;
  color: white;
  box-shadow: 0 3px 5px;
}

input[type=submit]:hover {
  background-color: #50d890;
}

/* Responsiveness */
@media screen and (max-width: 1500px) {
  .three_pillars {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15% 50px 15%;
  }

  .pillars {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1405px) {
  .project_list {
    flex-direction: column;
    align-items: center;
    padding: 0 25% 0 25%;
  }

  .recent_info1 {
    text-align: center;
    padding: 0 25px 25px 25px;
  }

  .recent_info2 {
    text-align: center;
    padding: 25px 25px 0 25px;
  }

  .button_wrapper {
    padding: 35px 0 35px 0;
  }

  .project_wrapper h3 {
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 900px) {
  .three_pillars {
    flex-direction: column;
    padding: 50px 5% 50px 5%;
    align-items: center;
  }

  .me p {
    padding: 0 20% 0 20%;
  }
}

@media screen and (max-width: 770px) {
  nav {
    padding: 25px 0 25px 0;
  }

  .nav_buttons {
    display: none;
  }

  .nav_drawer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    position: absolute;
    transform: translate(0, -500px);
    transition: transform .2s ease;
  }

  .nav_drawer.open {
    transform: translate(0, 51px);
  }

  .nav_drawer a {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    background-color: #272727;
    color: #effffb;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #4f98ca;
    border-bottom-width: thin;
  }

  .nav_drawer a:hover {
    color: #50d890;
  }

  #menu_icon {
    display: inline-block;
  }

  #menu_icon:hover {
    color: #50d890;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .pillars {
    width: 75%;
  }

  .me p {
    padding: 0 20% 0 20%;
  }

  .recent_work h2 {
    margin: 0;
  }

  .work_list img {
    width: 90%;
    padding: 0 5% 0 5%;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  .intro_phrase p {
    font-size: .7em;
  }
}

@media screen and (max-width: 550px) {
  .work_list h3 {
    font-size: .9em
  }

  .work_list p {
    font-size: .85em
  }

  .work_info1 {
    margin-left: -102px;
    margin-top: -60px;
  }

  .work_info2 {
    margin-left: -158px;
    margin-top: -60px;
  }

  .work_info3 {
    margin-left: -143px;
    margin-top: -60px;
  }

  .work_info4 {
    margin-left: -135px;
    margin-top: -60px;
  }
}

@media screen and (max-width: 500px) {
  .skills {
    flex-direction: column;
    padding: 10px 10% 100px 10%;
    align-items: center;
  }

  #skill1 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  #skill3 {
    border-top-right-radius: 0;
  }

  .img_button1 {
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
  }

  .img_button2 {
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
  }

  .project_list img {
    width: 250px;
  }

  .project_list {
    padding: 0 5% 0 5%;
  }
}

@media screen and (max-width: 450px) {
  .work_list p {
    display: none;
  }

  .work_info1 {
    margin-left: -57px;
    margin-top: -50px;
  }

  .work_info2 {
    margin-left: -115px;
    margin-top: -50px;
  }

  .work_info3 {
    margin-left: -70px;
    margin-top: -50px;
  }

  .work_info4 {
    margin-left: -68px;
    margin-top: -50px;
  }

  .me img {
    width: 75%;
  }
}
